---
 const personalImageAlt = "Piccoli Guido Augusto"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-red-600 dark:[&>p>strong]:text-red-300 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Guido Augusto Piccoli, pero todo el que me conoce me llama Piccoli. 
      Desde mis inicios en la programación, <strong>he trabajado en diversos proyectos que me han permitido mejorar mis 
      habilidades</strong> y ampliar mis conocimientos en el desarrollo web y móvil.
    </p>

    <p>
      A lo largo de mi trayectoria, he trabajado con diversas tecnologías en el desarrollo web y móvil, incluyendo 
      <strong>React, React Native, PHP con Symfony, Node.js, MySQL y Firebase</strong>. También tengo experiencia en el uso 
      de <strong>Tailwind CSS, Chakra UI y Bootstrap</strong> para la creación de interfaces modernas y responsivas.
    </p>

    <p>
      Además de mi experiencia práctica, he complementado mi formación con estudios en <strong>Desarrollo de Software</strong> 
      y cursos especializados en <strong>arquitectura de software, bases de datos y optimización de aplicaciones</strong>. 
      Siempre estoy en constante aprendizaje, explorando nuevas tecnologías y metodologías para mejorar mis habilidades 
      y crear soluciones más eficientes.
    </p>
  </div>

  <img width="200" height="200" src="/yo.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-red-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>