---
 const personalImageAlt = "Piccoli Guido Augusto"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-red-600 dark:[&>p>strong]:text-red-300 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      My name is Guido Augusto Piccoli, a developer with a passion for creating digital solutions. 
      Since I started programming, <strong>I have worked on various projects that have allowed me to improve my 
      skills</strong> and expand my knowledge in web and mobile development.
    </p>

    <p>
      Throughout my career, I have worked with various technologies in web and mobile development, including 
      <strong>React, React Native, PHP with Symfony, Node.js, MySQL, and Firebase</strong>. I also have experience using 
      <strong>Tailwind CSS, Chakra UI, and Bootstrap</strong> to create modern and responsive interfaces.
    </p>

    <p>
      In addition to my practical experience, I have complemented my education with studies in <strong>Software Development</strong> 
      and specialized courses in <strong>software architecture, databases, and application optimization</strong>. 
      I am always in constant learning, exploring new technologies and methodologies to improve my skills 
      and create more efficient solutions.
    </p>
  </div>

  <img width="200" height="200" src="/yo.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-red-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>