---
import ExperienceItem from "./ExperienceItem_en.astro"

const EXPERIENCE = [
  {
      title: 'IT Technician / Support and Development',
      company: 'Sanatorio Santa Fe',
      date: 'October 2024 - Present',
      description: 'Currently part of the IT systems area at Sanatorio Santa Fe, where I provide comprehensive technical support and collaborate on internal systems development and maintenance tasks. My main functions include installation and configuration of equipment (hardware and software), PC and peripheral assembly, technical incident resolution, operating system and internal software installation. Additionally, I participate in the development of internal web tools, primarily on the frontend, using technologies such as HTML, CSS, Bootstrap, PHP, and Python, and collaborate in executing SQL queries through Navicat, supporting report generation and data analysis. This experience allows me to combine my IT knowledge with user support and optimization of the hospital\'s technological processes.'
  },
  {
      title: 'Full Stack Developer',
      company: 'Sectorial Informática - Ministry of Health of the Province of Santa Fe',
      date: 'January 2023 - January 2024',
      description: 'Developed and maintained systems using PHP and Symfony, applying MVC and SOLID principles for scalable code. Improved user experience with AJAX, managed versions in GitLab, and tasks in Redmine. Optimized SQL databases with ORM and ACID transactions, ensuring integrity and reducing downtime. Also worked on frontend optimization with Bootstrap, JavaScript, HTML5, and CSS3. Additionally, implemented backend security to protect sensitive medical data and managed the integration of Web Services and REST APIs to enhance system interoperability.'
  },
  {
      title: 'Full Stack Developer',
      company: 'Freelance',
      date: '2022 - Present',
      description: 'Worked on designing and implementing solutions from scratch, as well as improving and optimizing existing projects. \n\Handled the entire development cycle, from planning and architecture to implementation and maintenance, ensuring clean code, scalability, and an excellent user experience. Additionally, collaborated directly with clients to understand their needs and translate them into efficient and functional solutions.'
  }
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>