---
const personalImageAlt = "Piccoli Guido Augusto, desarrollador Full Stack"
import Badge from "@/components/Badge.astro"
import LinkedIn from "@/components/icons/LinkedIn.astro"
import SocialPill from "@/components/SocialPill.astro"
import GitHub from "./icons/GitHub.astro"
import Email from "./icons/Email.astro"
import WhatsApp from "./icons/WhatsApp.astro"
---

<div class="flex flex-col md:flex-row gap-x-5 justify-center items-center">
  <img
    class="w-40 sm:w-60 md:w-80 lg:w-80 mb-3 md:mb-0"
    src="/augusto.webp"
    alt={personalImageAlt}
  />
  <div class="flex flex-col gap-y-1 md:gap-y-3 justify-center items-center md:justify-start md:items-start">
    <h1
      class="flex text-black dark:text-white text-md sm:text-lg md:text-2xl mdplus:text-3xl font-bold flex flex-row gap-x-2 md:gap-x-4 items-center tracking-tight"
    >
      Hola, Soy Augusto 
      <div class="flex justify-center items-center">
        <a
          href="https://linkedin.com/in/piccoli-augusto"
          target="_blank"
          rel="noopener"
          class="flex items-center transition md:justify-center md:hover:scale-105"
        >
          <Badge>Disponible</Badge>
        </a>
      </div>
    </h1>
    <div class="flex flex-col gap-1">
      <h1 class="text-red-600 dark:text-red-400 text-sm sm:text-md md:text-lg mdplus:text-xl font-bold">Técnico en Informática</h1>
    <h1 class="text-red-600 dark:text-red-400 text-sm sm:text-md md:text-lg mdplus:text-xl font-bold pb-1 md:pb-3">Desarrollador Full Stack</h1>
    </div>
    <h5 class="leading-normal text-sm md:text-md lg:text-lg w-[80%] md:w-[95%] text-pretty dark:[&>strong]:text-red-400 [&>strong]:text-red-600">
      +2 años de experiencia en la <strong>construcción de aplicaciones web y móviles.</strong> 
      Con conocimientos en HTML, CSS, JavaScript, Tailwind CSS, React, React Native, PHP, MySQL, Express.js y Node.js, 
      y un enfoque en arquitecturas escalables, bases de datos relacionales y optimización de rendimiento.
    </h5> 
    <ul class="flex flex-row gap-x-5 justify-evenly items-center h-20 w-full">
      <li>
        <SocialPill href="https://www.linkedin.com/in/piccoli-augusto/">
            <LinkedIn class="w-5 md:w-8 h-5 md:h-8"/>
            <span class="text-xs md:text-sm">LinkedIn</span>
        </SocialPill>
      </li>
      <li>
        <SocialPill href="https://github.com/Piccoli4">
            <GitHub class="w-5 md:w-8 h-5 md:h-8"/>
            <span class="text-xs md:text-sm">GitHub</span>
        </SocialPill>
      </li>
      <li>
        <SocialPill href="mailto:piccoli_44@hotmail.com">
            <Email class="w-5 md:w-8 h-5 md:h-8"/>
            <span class="text-xs md:text-sm">Email</span>
        </SocialPill>
      </li>
      <li>
        <SocialPill href="http://wa.me/+543445404221">
            <WhatsApp class="w-5 md:w-8 h-5 md:h-8"/>
            <span class="text-xs md:text-sm">WhatsApp</span>
        </SocialPill>
      </li>
    </ul>
  </div>
</div>
