---
import React from "@/components/icons/React.astro"
import Chakra from "@/components/icons/Chakra.astro"
import Firebase from "@/components/icons/Firebase.astro"
import GitHub from "@/components/icons/GitHub.astro"
import Expo from "@/components/icons/Expo.astro"
import Nextjs from "@/components/icons/NextJS.astro"
import Html from "@/components/icons/Html.astro"
import Css from "@/components/icons/Css.astro"
import JavaScript from "@/components/icons/JavaScript.astro"
import Tailwind from "@/components/icons/Tailwind.astro"
import Php from "@/components/icons/Php.astro"
import Mysql from "@/components/icons/Mysql.astro"
import AstroIcon from "@/components/icons/Astro.astro"
import Bootstrap from "@/components/icons/Bootstrap.astro"
import Redux from "@/components/icons/Redux.astro"
import Typescript from "@/components/icons/Typescript.astro"
import Symfony from "@/components/icons/Symfony.astro"
import Laravel from "@/components/icons/Laravel.astro"
import Python from "@/components/icons/Python.astro"
import Mysqlicon from "@/components/icons/Mysql.astro"
import Git from "@/components/icons/Git.astro"
import GitLab from "@/components/icons/GitLab.astro"
import Vercel from "@/components/icons/Vercel.astro"
import Netlify from "@/components/icons/Netlifi.astro"
import Vscode from "@/components/icons/Vscode.astro"
import Figma from "@/components/icons/Figma.astro"

const TAGS = {
    REACT: {
        name: "React",
        class: "bg-blue-500 text-white",
        icon: React,
    },
    REACTNATIVE: {
        name: "React Native",
        class: "bg-blue-500 text-white",
        icon: React,
    },
    CHAKRA: {
        name: "Chakra UI",
        class: "bg-blue-500 text-white",
        icon: Chakra,
    },
    FIREBASE: {
        name: "Firebase",
        class: "bg-blue-500 text-white",
        icon: Firebase,
    },
    EXPO: {
        name: "Expo",
        class: "bg-blue-500 text-white",
        icon: Expo,
    },
    NEXTJS: {
        name: "Next.js",
        class: "bg-blue-500 text-white",
        icon: Nextjs,
    },
    HTML: {
        name: "HTML",
        class: "bg-blue-500 text-white",
        icon: Html,
    },
    CSS: {
        name: "CSS",
        class: "bg-blue-500 text-white",
        icon: Css,
    }, 
    JAVASCRIPT: {
        name: "JavaScript",
        class: "bg-blue-500 text-white",
        icon: JavaScript,
    },
    TAILWIND: {
        name: "Tailwind CSS",
        class: "bg-blue-500 text-white",
        icon: Tailwind,
    },
    PHP: {
        name: "PHP",
        class: "bg-blue-500 text-white",
        icon: Php,
    },
    MYSQL: {
        name: "MySQL",
        class: "bg-blue-500 text-white",
        icon: Mysql,
    },
    ASTROICON: {
        name: "Astro",
        class: "bg-blue-500 text-white",
        icon: AstroIcon,
    },
    BOOTSTRAP: {
        name: "Bootstrap",
        class: "bg-blue-500 text-white",
        icon: Bootstrap,
    },
    REDUX: {
        name: "Redux",
        class: "bg-blue-500 text-white",
        icon: Redux,
    },
    TYPESCRIPT: {
        name: "TypeScript",
        class: "bg-blue-500 text-white",
        icon: Typescript,
    },
    SYMFONY: {
        name: "Symfony",
        class: "bg-blue-500 text-white",
        icon: Symfony,
    },
    LARAVEL: {
        name: "Laravel",
        class: "bg-blue-500 text-white",
        icon: Laravel,
    },
    PYTHON: {
        name: "Python",
        class: "bg-blue-500 text-white",
        icon: Python,
    },
    MYSQLICON: {
        name: "MySQLi",
        class: "bg-blue-500 text-white",
        icon: Mysqlicon,
    },
    GIT: {
        name: "Git",
        class: "bg-blue-500 text-white",
        icon: Git,
    },
    GitHub: {
        name: "GitHub",
        class: "bg-blue-500 text-white",
        icon: GitHub,
    },
    GitLab: {
        name: 'GitLab',
        class: 'bg-blue-500 text-white',
        icon: GitLab,
    },
    VERCEL: {
        name: "Vercel",
        class: "bg-blue-500 text-white",
        icon: Vercel,
    },
    NETLIFY: {
        name: "Netlify",
        class: "bg-blue-500 text-white",
        icon: Netlify,
    },
    VSCODE: {
        name: "VSCode",
        class: "bg-blue-500 text-white",
        icon: Vscode,
    },
    FIGMA: {
        name: "Figma",
        class: "bg-blue-500 text-white",
        icon: Figma,
    }
}

const TECHSTACK = [
    { 
        name: 'Frontend',
        tags: [
            TAGS.REACT, 
            TAGS.REACTNATIVE, 
            TAGS.CHAKRA, 
            TAGS.TAILWIND, 
            TAGS.HTML, 
            TAGS.CSS, 
            TAGS.JAVASCRIPT, 
            TAGS.REDUX, 
            TAGS.TYPESCRIPT,
            TAGS.NEXTJS,
            TAGS.ASTROICON,
            TAGS.BOOTSTRAP,
        ]

    },
    { 
        name: 'Backend',
        tags: [ 
            TAGS.PHP, 
            TAGS.MYSQL, 
            TAGS.SYMFONY, 
            TAGS.LARAVEL, 
            TAGS.PYTHON, 
            TAGS.MYSQLICON,
            TAGS.FIREBASE
        ]
    },
    { 
        name: 'DevOps',
        tags: [
            TAGS.GIT, 
            TAGS.GitHub, 
            TAGS.GitLab,
            TAGS.VERCEL, 
            TAGS.NETLIFY,
            TAGS.EXPO
        ]
    },
    { 
        name: 'Tools',
        tags: [
            TAGS.VSCODE, 
            TAGS.FIGMA
        ]
    }
]
---

<article class="flex flex-wrap w-full gap-x-4 md:gap-x-8 justify-center">
    {
        TECHSTACK.map(({name, tags}) => (
            <ul class="flex flex-col items-center w-80 p-4 m-2 rounded-lg bg-gray-300 dark:bg-gray-800 h-[320px]">
                <h2 class="text-center mb-2 font-semibold text-sm md:text-lg lg:text-xl">{name}</h2>
                <div class="flex flex-wrap gap-x-4 md:gap-x-8 justify-center items-center">
                    {tags.map(tag => (
                        <li class="flex flex-col m-2 items-center text-white size-12 whitespace-nowrap">
                            <tag.icon/> 
                            <span class="text-black dark:text-white text-xs mt-1">{tag.name}</span>
                        </li>
                    ))} 
                </div>
            </ul>
        ))
    }
</article>